*{
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color: rgb(112, 112, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;   
}
section{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    width: 450px;
    border-radius: 6px;
    box-shadow: 0 0 10px;
    overflow: hidden;

}
h1{
    text-align: center;
    margin-bottom: 10px;
}
.full-input{
    display: flex;
    align-items: center;
    justify-content:space-between ;

}
input{
    width: 90%;
    padding: 10px 5px;
    height: 39px;
    border:1px solid #ccc;
    outline: 0;
    border-radius: 6px 0  0 6px  ;
}
button{
    width: 10%;
    font-size: 20px;
    height: 39px;
    border:0;
    background-color: rgb(50, 50, 105);
    color: white;
    border-radius: 0 6px 6px 0 ;
    

}
.paraghe-style{
    width: 10%;
    font-size: 20px;
    height: 39px;
    border:0;
    background-color: rgb(50, 50, 105);
    color: white;
    border-radius: 0 6px 6px 0 ;
    word-break: break-all;
    cursor: pointer;

}
.paraghe-style:last-child{
    margin-bottom:0 ;
}
@keyframes anime{
    form{
        transform: translateY(50px);
    }
}